*{
    margin: 0cm;
    padding: 0;
}

body{
    background-color: #F1DEDC;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 0.2rem ;
    font-size: 8vmin;
    color: #090557;
    background-color: #e4ddb5;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #a0e0a1;
    border-radius: 1.25rem;

}

#new-game{
     padding: 1rem;
    font-size: 1.25rem;
    background-color: #a0e0a1;
    border-radius: 1.25rem;
}

#msg{
    color: #090557;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.hide{
    display: none;
}